<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta>
    <title>Shopping Cart</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/client_styles/assets/css/style.css">
	<!-- Demo CSS (No need to include it into your project) -->
	<link rel="stylesheet" href="/client_styles/assets/css/demo.css">
  
  </head>
  <body>
 <header class="intro">
 {{!-- <h1>Shopping Cart</h1> --}}
 </header>
  
 <main>
     <!-- Start DEMO HTML (Use the following code into your project)-->
 <div class="container">
  <div class="screen-togo">
    <h2>Our Products</h2>
    <ul class="menu-items">
       {{#each data.shoes}}
      <!--    Menu Item 1    -->
      <div class="menu-item" >
          <div class="menu-image" style="background-color: {{this.color}}">
        <img src="{{this.image}}" alt="French Fries with Ketchup" class="menu-image">
        </div>  
        <div class="menu-item-dets">
          <p class="menu-item-heading">{{this.name}}</p>
        </div>
        <div class="shop-item-description">{{this.description}}</div>
        <div class="shop-item-bottom">
             <div class="g-price">${{this.price}}</div>
            <div><button id="{{this.id}}"
          class="add-button"
          data-title="{{this.name}}"
          data-price="{{this.price}}">Add to Cart</button></div>
        </div>
      </div>
      {{/each}}
      <!--    Menu Item 2    -->
    </ul>
  </div>
  <div class="screen-cart">
    <h2>Your Cart</h2>
    <!--  Cart Items -->
    <ul class="cart-items">
        {{!-- <div class="cart-item-actions">
        <div class="cart-item-count">
          <div class="cart-item-count-button"><i class="fa fa-minus-circle" aria-hidden="true"></i></div>
          <div class="cart-item-count-number">1</div>
          <div class="cart-item-count-button"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
        </div>
        <div class="cart-item-remove">
          <i class="fa fa-trash-o"></i>
        </div> --}}
    </ul>
    
    <div class="cart-math">
      <p>Add items to cart</p>
    </div>
  </div>
</div>    
     <!-- END EDMO HTML (Happy Coding!)-->
 </main>
      
  <footer class="credit"></footer>
  
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      
<!-- Shopping Cart Js -->
      
<script>
  let subtotal = 0;

const calculateTax = subtotal => {
  const tax = subtotal * 0.13;
  const formattedTax = tax.toFixed(2);
  return formattedTax;
};

const calculateTotal = subtotal => {
  const tax = calculateTax(subtotal);
  const total = parseFloat(subtotal) + parseFloat(tax);
  const formattedTotal = total.toFixed(2);
  return formattedTotal;
};


const getImgLink = title => {
  let imgLink;
  {{!-- var image = {{find_index title}}; --}}
  switch (title) {
    case 'Nike Air Zoom Pegasus 36':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-mens-running-shoe-wide-D24Mcz-removebg-preview.png';
      break;
    case 'Nike Air Zoom Pegasus 36 Shield':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/air-zoom-pegasus-36-shield-mens-running-shoe-24FBGb__1_-removebg-preview.png';
      break;
    case 'Nike CruzrOne':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/cruzrone-unisex-shoe-T2rRwS-removebg-preview.png';
      break;
    case 'Nike Epic React Flyknit 2':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/epic-react-flyknit-2-mens-running-shoe-2S0Cn1-removebg-preview.png';
      break;
    case 'Nike Odyssey React Flyknit 2':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/odyssey-react-flyknit-2-mens-running-shoe-T3VG7N-removebg-preview.png';
      break;
     case 'Nike React Infinity Run Flyknit':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/react-infinity-run-flyknit-mens-running-shoe-RQ484B__2_-removebg-preview.png';
      break;
    case 'Nike React Miler':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/react-miler-mens-running-shoe-DgF6nr-removebg-preview.png';
      break;
    case 'Nike Renew Ride':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/renew-ride-mens-running-shoe-JkhdfR-removebg-preview.png';
      break;
    case 'Nike Vaporfly 4% Flyknit':
      imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/vaporfly-4-flyknit-running-shoe-v7G3FB-removebg-preview.png';
      break;
    default:
        imgLink = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1315882/zoom-fly-3-premium-mens-running-shoe-XhzpPH-removebg-preview.png';
      }
  return imgLink;
};

$('.add-button').on('click', function () {
  const title = $(this).data('title');
  const price = $(this).data('price');
  const imgLink = getImgLink(title);

  const element = `
    <li class="cart-item">
      <img src="${imgLink}" alt="${title}">
      <div class="cart-item-dets">
        <p class="cart-item-heading">${title}</p>
        <p class="g-price">$${price}</p>
      </div>
    
    </li>
  `;
  $('.cart-items').append(element);

  subtotal = subtotal + price;

  const formattedSubtotal = subtotal.toFixed(2);
  const tax = calculateTax(subtotal);
  const total = calculateTotal(subtotal);

  $('.cart-math').html(`
    <p class="cart-math-item">
      <span class="cart-math-header">Subtotal:</span>
      <span class="g-price subtotal">$${formattedSubtotal}</span>
    </p>
  `);
});
</script>
  </body>
</html>